<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>You win...</title>
    </head>
    <body class="text-center bg-black text-white flex-col">
        <h1 class="text-9xl font-bold m-20">We'll be in touch.</h1>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</html>